<div class="container">
  <head>
    <style>
      table, td {
        border: 3px solid black;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Congratulations!! Your Booking Is Confirmed</h1>
      <table class="table">
        <tr>
          <td>Show Timings</td>
          <td><%= @show.time %></td>
        </tr>
        <tr>
          <td>Date</td>
          <td><%= @show.date %></td>
        </tr>
        <tr>
          <td>Movie</td>
          <td><%= @movie.movie_name %></td>
        </tr>
        <tr>
          <td>Seat Selected</td>
          <td>
            <%= @seats.each do |seat| %>
              <%= seat.seat_number %>,
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td>₹<%= @sum %></td>
        </tr>
      </table>
      </br>
      <p><a class="button" href="/shows">Book More</a></p>
      <p><a class="button" href="/">Go Back To Home</a></p>
    </center>
  </body>
</div>
